:root {
    font-size: 18px;
    --pc: #00AE26;
    --sc: #D0FFD3;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;

}

* {
    margin: 0;
}

header {
    position: fixed;
    background-color: var(--sc);
    display: inline-flex;
    width: 100%;
    height: 3rem;
    align-items: center;
    justify-content: center;
}

nav a {
    margin: 3rem;
    text-decoration: none;
    color: var(--pc);
}

.center {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
}

.card {
    background-color: var(--sc);
    width: 10rem;
    height: 10rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    margin: 0.5rem;
	box-sizing: border-box;

}

#sobre, #contato {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    align-items: center;
    justify-content: center;
    text-align: justify;
    margin: 0.5rem;
    max-width: 800px;
}

#caracteristicas {
    margin: 0 auto;
    text-align: center;
}


form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    margin: 0;
}

form input {
    margin: 0.5rem;
}

input[type="submit"] {
    margin-top: 0.5rem;
    color: var(--pc);
    background-color : var(--sc);
    font-size: 1rem;
    border: 0;
    width: 6rem;
    height: 2rem;
    border-radius: 10px;
}

input[type="text"], textarea, input[type="email"] {
    background-color: var(--sc);
    border: 0;
    border-radius: 5px;
    font-size: 1rem;
    color: var(--pc);
    width: 100%;
}

p, h2 {
    color: var(--pc);
    /* background-color : var(--sc); */
}

@media (max-width: 800px) {
    .card {
      width: 6rem;
    }
}